
nav.a {
    font-size: 1.8em !important;
}

button.round {
    border-radius: 100%;
}

.panel.round {
    border-radius: 10px 10px 10px 10px !important;
}

.white {
    color: #FFFFFF !important;
}

textarea.ta {
    resize: vertical;
}

.tournament-disabled {
    background-color: #DDDDDD;
    opacity: .5;
}

.panel-padding {
    padding-top: 2em;
}