<!-- remember to panel -->
<!-- do some required tags thingy -->
{% extends 'base.html' %}

{% block content %}
    <script type="text/javascript">
        function stopRKey(evt) {
        var evt = (evt) ? evt : ((event) ? event : null);
        var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
        if ((evt.keyCode == 13) && (node.type=="text"))  {return false;}
    }
    document.onkeypress = stopRKey;
    </script>
    <div class="panel">
        <div class="panel-heading bg-primary">
            <h2 class="text-dark" style="color: #FFFFFF">Tournament Creation Form</h2>
        </div>
        <div class="panel-body">
            <form action="../api/v1/create" method="post">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="titleForm"><h5>Title</h5></label>
                            <input type="text" class="form-control" name="titleForm" id="titleForm" placeholder="Annual CSH Smashathon" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="datepicker"><h5>Date</h5></label>
                            <input type='date' class="form-control" id="datepicker" name="datepicker" placeholder="04/20/2069" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="gameselect"><h5>Game Title</h5></label>
                                <select class="form-control" id="gameselect" name="gameselect" required onchange="createField(this.value)">
                                    <option value="" disabled selected>Select your game...</option>
                                    <option>Super Smash Brothers Melee</option>
                                    <option>Super Smash Brothers WiiU</option>
                                    <option>Skullgirls</option>
                                    <option>Dragon Ball Z Fighters</option>
                                    <option value="other">Input a new option</option>
                                </select>
                                <input class="hidden form-control" id="extrafield" name="extrafield" type="text" placeholder="New game?">
                                <script>
                                    function createField(value) {
                                        if (value === "other") {
                                            document.getElementById('extrafield').classList.remove('hidden');
                                        } else {
                                            document.getElementById('extrafield').value = "";
                                            document.getElementById('extrafield').classList.add('hidden');
                                        }
                                    }
                                </script>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="tourneyselect"><h5>Tournament Type</h5></label>
                                <select class="form-control" id="tourneyselect" name="tourneyselect" required>
                                    <option value="" disabled selected>Select type...</option>
                                    <option>Single Elimination</option>
                                    <option>Double Elimination</option>
                                </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group is-empty">
                                <label for="competitors" ><h5>Competitors</h5></label>
                                <input type="text" name="competitors" id="competitors" class="form-control" placeholder="AND IN THIS CORNER..." required> <!--data-module="memberSelect" data-src="cm_members"-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group is-empty">
                                <label for="admins" ><h5>Admins</h5></label>
                                <input type="text" name="admins" id="admins" class="form-control" placeholder="Only those you trust." required> <!--data-module="memberSelect" data-src="cm_members"-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="rules"><h5>Rules</h5></label>
                                <textarea name="rules" id="rules" class="form-control" rows="10" placeholder="Enter rules here..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" role="button" class="btn btn-raised btn-primary" style="width:100%;" value="Submit Form"/>
            </form>
        </div>
    </div>
    <!-- <script>
        $('datepicker').click(function () {
          $('datepicker').datepicker({});
        });
    </script> -->


{% endblock %}


