{% extends 'base.html' %}

{% block content %}
    <div id="container">
    {% for player in players %}
        <div class="panel col-12 mb-sm-3 mb-md-3 mb-lg-3 round">
            <div class="panel-content">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3 text-left">
                            <form id="removePlayer{{ loop.index }}" onsubmit="onSubmitRemove(this, event)">
                                <label for="player" class="sr-only"></label>
                                <input class="hidden" value="{{ player }}" name="player" id="player" required hidden readonly>
                                <label for="index" class="sr-only"></label>
                                <input type="number" value="{{ loop.index }}" name="index" id="index" required hidden readonly>
                                <button type="submit" class="btn btn-danger round">
                                    <i class="fas fa-times fa-5x"></i>
                                </button>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <p class=""><h3 class="text-center">{{ player }}</h3></p>
                        </div>
                        <div class="col-sm-3 text-right">
                            <form id="movePlayer{{ loop.index }}" onsubmit=" onSubmitMove(this, event)">
                                <label for="player" class="sr-only"></label>
                                <input value="{{ player }}" name="player" id="player" required hidden readonly>
                                <label for="index" class="sr-only"></label>
                                <input type="number" value="{{ loop.index }}" name="index" id="index" required hidden readonly>
                                <button type="submit" class="btn btn-primary round">
                                    <i class="fas fa-arrow-down fa-5x"></i>
                                </button>
                            </form>
                        </div>
                        <script>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block static %}
    <div class="footer">
        <div class="container mb-3">
            <form id="addPlayer" role="form">
                <div class="form-group row">
                    <div class="col-xs-10">
                        <label for="new-player" class="sr-only">Player Name:</label>
                        <input type="text" name="new-player" id="new-player" placeholder="Enter Player Name" maxlength="25"
                               class="form-control form-control-lg" required autofocus>
                    </div>
                    <div class="col-xs-2 text-right">
                        <button type="submit" class="btn btn-primary">Add Player</button>
                    </div>
                </div>
            </form>
        </div>
        <script>
            function onSubmitMove(caller, event) {
                event.preventDefault();
                var form = $(caller);
                $.ajax({
                    method: 'POST',
                    url: '/api/v1/move',
                    data: form.serialize(),
                    success: success()
                })
            }

            function onSubmitRemove(caller, event) {
                event.preventDefault();
                var form = $(caller);
                $.ajax({
                    method: 'POST',
                    url: '/api/v1/remove',
                    data: form.serialize(),
                    success: success()
                })
            }
            $('#addPlayer').submit(function (event) {
                event.preventDefault();
                var form = $('#addPlayer');
                $.ajax({
                    type: 'POST',
                    url: '/api/v1/add',
                    data: form.serialize(),
                    success: success
                });
            });
            function success() {
                location.reload(true);
            }
        </script>
    </div>
    <div class="p-3"></div>
    {% if config['PLUG_ENABLED'] == 'True' %}
    <div class="container">
        <div class="panel panel-primary round">
            <div class="panel-body">
                <div class="plug-body">
                    <a href="https://plug.csh.rit.edu" title="Advertisements by CSH: Plug">
                        <img style="width: 100%" src="https://plug.csh.rit.edu/data"
                             alt="Advertisements by CSH: Plug">
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}