{% extends 'base.html' %}

{% block content %}
    {% for player in players %}
        <div class="panel col-12 mb-3 round">
            <div class="panel-content">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3 text-left">
                            <form id="removePlayer{{ loop.index }}" action="./api/v1/remove" method="post" role="form">
                                <label for="player" class="sr-only"></label>
                                <input class="hidden" value="{{ player }}" name="player" id="player" required hidden readonly>
                                <label for="index" class="sr-only"></label>
                                <input type="number" value="{{ loop.index }}" name="index" id="index" required hidden readonly>
                                <button type="submit" class="btn btn-danger round">
                                    <i class="fas fa-times fa-5x"></i>
                                </button>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <h3 class="text-center">{{ player }}</h3>
                        </div>
                        <div class="col-sm-3 text-right">
                            <form id="movePlayer{{ loop.index }}" action="./api/v1/move" method="post" role="form">
                                <label for="player" class="sr-only"></label>
                                <input value="{{ player }}" name="player" id="player" required hidden readonly>
                                <label for="index" class="sr-only"></label>
                                <input type="number" value="{{ loop.index }}" name="index" id="index" required hidden readonly>
                                <button type="submit" class="btn btn-primary round">
                                    <i class="fas fa-arrow-down fa-5x"></i>
                                </button>
                            </form>
                        </div>
                        <script>
                            $('#movePlayer{{ loop.index }}').submit(function (event) {
                                event.preventDefault();

                                $.ajax({
                                    method: 'POST',
                                    url: './api/v1/move',
                                    data: $(this).serialize(),
                                    success: onSuccess()
                                })
                            });

                            $('#removePlayer{{ loop.index }}').submit(function (event) {
                                event.preventDefault();

                                $.ajax({
                                    method: 'POST',
                                    url: './api/v1/remove',
                                    data: $(this).serialize(),
                                    success: onSuccess()
                                })
                            });

                            function onSuccess() {
                                location.reload();
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block static %}
    <div class="footer">
        <div class="container mb-3">
            <form id="addPlayer" role="form">
                <div class="form-group row">
                    <div class="col-xs-10">
                        <label for="player" class="sr-only">Player Name:</label>
                        <input type="text" name="player" id="player" placeholder="Enter Player Name"
                               class="form-control form-control-lg" required>
                    </div>
                    <div class="col-xs-2 text-right">
                        <button type="submit" class="btn btn-primary">Add Player</button>
                    </div>
                </div>
            </form>
        </div>
        <script>
            $('#addPlayer').submit(function (event) {
                event.preventDefault();
                var form = $('#addPlayer');
                $.ajax({
                    type: 'POST',
                    url: './api/v1/add',
                    data: form.serialize(),
                    success: success
                });
            });
            function success(data) {
                location.reload()
            }
        </script>
    </div>
    <div class="p-3"></div>
    {% if config['PLUG_ENABLED'] %}
    <div class="container">
        <div class="panel panel-primary round">
            <div class="panel-body">
                <div class="plug-body">
                    <a href="https://plug.csh.rit.edu" title="Advertisements by CSH: Plug">
                        <img style="width: 100%" src="https://plug.csh.rit.edu/data"
                             alt="Advertisements by CSH: Plug">
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}